
div{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-align: justify;
}
form{
  margin: 6%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  outline: 2px black solid;
  padding: 3%;  
  width: 15%;
}
form > input{
  margin-top: 0;
  margin-bottom: 2%;
}
form >label{
  margin: 6% 3%;
  padding: 0;
}
